# ETL WITH REGULAR EXPRESSION
----------------------

In [1]:
import pandas as pd
import numpy as np
import re

---------------------------

## First Question
- Extract Names From a string.

In [2]:
simple_string = """Amy is 5 years old, and her sister Mary is 2 years old. 
    Ruth and Peter, their parents, have 3 kids."""

In [3]:
re.findall("[A-Z]+[a-z]+",simple_string)

['Amy', 'Mary', 'Ruth', 'Peter']

## Second Question
- Extract Specific grade.
- Extract all grades.

In [4]:
grades ="""Ronald Mayr: A
Bell Kassulke: B
Jacqueline Rupp: A 
Alexander Zeller: C
Valentina Denk: C 
Simon Loidl: B 
Elias Jovanovic: B 
Stefanie Weninger: A 
Fabian Peer: C 
Hakim Botros: B
Emilie Lorentsen: B
Herman Karlsen: C
Nathalie Delacruz: C
Casey Hartman: C
Lily Walker : A
Gerard Wang: C
Tony Mcdowell: C
Jake Wood: B
Fatemeh Akhtar: B
Kim Weston: B
Nicholas Beatty: A
Kirsten Williams: C
Vaishali Surana: C
Coby Mccormack: C
Yasmin Dar: B
Romy Donnelly: A
Viswamitra Upandhye: B
Kendrick Hilpert: A
Killian Kaufman: B
Elwood Page: B
Mukti Patel: A
Emily Lesch: C
Elodie Booker: B
Jedd Kim: A
Annabel Davies: A
Adnan Chen: B
Jonathan Berg: C
Hank Spinka: B
Agnes Schneider: C
Kimberly Green: A
Lola-Rose Coates: C
Rose Christiansen: C
Shirley Hintz: C
Hannah Bayer: B
"""

In [5]:
len(re.findall(": B",grades))

16

In [6]:
re.findall(": (B)",grades)

['B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B']

In [7]:
# All grades
all_grades = re.findall(": ([A-Z])",grades)
all_grades

['A',
 'B',
 'A',
 'C',
 'C',
 'B',
 'B',
 'A',
 'C',
 'B',
 'B',
 'C',
 'C',
 'C',
 'A',
 'C',
 'C',
 'B',
 'B',
 'B',
 'A',
 'C',
 'C',
 'C',
 'B',
 'A',
 'B',
 'A',
 'B',
 'B',
 'A',
 'C',
 'B',
 'A',
 'A',
 'B',
 'C',
 'B',
 'C',
 'A',
 'C',
 'C',
 'C',
 'B']

## Third Question
- Extract host, user_name, time, request for log file.

- Sample logs

<img src="log_file.png" width=1600 height=2000 />

- Read from log file 
- Extract Information using Regular Expression

In [8]:
def logs():
    with open("logdata.txt", "r") as file:
        logdata = file.read()
    d = []
    for word in logdata.splitlines():
        d.append({
            "host":re.findall("\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}",word)[0],
            "user_name":re.findall("- ([a-z0-9]+) | - -",word)[0],
            "time":re.findall("\d{1,2}\S+ -[0-9]+",word)[0],

            "request":re.findall("POST.+\"|GET.+\"|PATCH.+\"|HEAD.+\"|DELETE.+\"|PUT.+\" ",word)[0][:-1]
        })
    return d

In [9]:
# we have 979 log 
len(logs()) == 979

True

- convert log into a pandas data fram

In [16]:
# Read logs with pandas data fram
df_logs = pd.DataFrame(logs())

In [17]:
df_logs

,host,user_name,time,request
0,146.204.224.152,feest6811,21/Jun/2019:15:45:24 -0700,POST /incentivize HTTP/1.1
1,197.109.77.178,kertzmann3129,21/Jun/2019:15:45:25 -0700,DELETE /virtual/solutions/target/web+services ...
2,156.127.178.177,okuneva5222,21/Jun/2019:15:45:27 -0700,DELETE /interactive/transparent/niches/revolut...
3,100.32.205.59,ortiz8891,21/Jun/2019:15:45:28 -0700,PATCH /architectures HTTP/1.0
4,168.95.156.240,stark2413,21/Jun/2019:15:45:31 -0700,GET /engage HTTP/2.0
...,...,...,...,...
974,135.186.69.192,,21/Jun/2019:16:01:58 -0700,PATCH /best-of-breed HTTP/1.1
975,32.86.3.51,,21/Jun/2019:16:01:59 -0700,GET /optimize/impactful/sexy/channels HTTP/2.0
976,176.68.62.252,turner3261,21/Jun/2019:16:02:00 -0700,GET /viral HTTP/1.1
977,35.86.149.61,zemlak6334,21/Jun/2019:16:02:01 -0700,HEAD /incentivize HTTP/2.0
978,30.95.91.251,larson8319,21/Jun/2019:16:02:02 -0700,"PUT /one-to-one/whiteboard HTTP/1.0"""